* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction:column;
    align-content:center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.title {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.question-container {
    text-align:center;
}

.high-scores-container {
    justify-content: flex-start;
    margin-left: 20px;
}

.timer-container {
    justify-content: flex-end;
    margin-right: 20px;
}